<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/views/editprofile/style.css">
</head>
<body>
    
    <form action="/changeprofile/<%=id%>" method="POST">
    <div>You are editing profile of <%=user.name%></div><br><br>
    Username: <input type="text" name="oldusername"><br><br>
    Password: <input type="password" name="oldpassword"><br><br>
    Bio:<br><br> <input name="bio" type="text" placeholder="Describe Yourself" value="<%=user.bio%>"><br><br>
    Codeforces Profile Link:<br><br> <input name="codeforces" type="text" placeholder="Your Profile link... " value="<%=user.codeforces%>"><br><br>
    CodeChef Profile Link:<br><br> <input name="codechef" type="text" placeholder="Your Profile link..." value="<%=user.codechef%>"><br><br>
    Github Profile Link:<br><br> <input name="github" type="text" placeholder="Your Profile Link..." value="<%=user.github%>"><br><br>
    <input type="submit" id="submit">
    </form>
</body>
</html>