<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/views/profile/style.css">
</head>
<body>
    <div class="row">
        <div class="col"><img src="/images/<%=profile.name.split(' ').join('').toLowerCase()%>.jpg"></div>
        <div class="col" id="heading"><%= profile.name %><br>
            <p id="profiletext">"<%=profile.bio %>"</p>
            <p id="profiletextsmall" >DOB: <%=profile.dob%></p>
            <p id="profiletextsmall" >Room: <%=profile.roomNumber %></a></p>
            <p id="profiletextsmall" >Codeforces: <a href="<%=profile.codeforces %>"><%=profile.codeforces %></a></p>
            <p id="profiletextsmall" >CodeChef: &nbsp&nbsp&nbsp<a href="<%=profile.codechef %>"><%=profile.codechef%></a></p>
            <p id="profiletextsmall" >Github: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="<%=profile.github %>"><%=profile.github %></a></p>
        
        </div>
    </div>
</body>
</html>